<article class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum viverra ligula nec interdum. Sed sollicitudin risus in justo egestas, consectetur imperdiet augue mollis. Praesent vitae accumsan leo. Pellentesque eleifend quam in nisi scelerisque aliquet. Nunc ut mauris turpis. Integer sit amet arcu eget odio varius pulvinar. Etiam sed diam nulla. Etiam scelerisque facilisis quam, ut fermentum eros. Pellentesque eleifend elit et mauris suscipit, ac sollicitudin magna faucibus. Donec vestibulum tellus nec sapien facilisis pretium. Sed non interdum ipsum. Vestibulum blandit, odio sed imperdiet ornare, arcu sapien tempus est, et hendrerit sapien lorem nec libero. Donec venenatis elementum lorem, at accumsan sem dictum at. Fusce accumsan nisl in viverra egestas.</p>
      </div>
      <div class="col-sm-12">
        <p>Duis eget tincidunt erat. In laoreet augue sed urna consequat venenatis id id mauris. Integer tempor ligula enim, id laoreet justo consequat non. Vestibulum sit amet ullamcorper metus, feugiat iaculis magna. Sed consequat lorem quis venenatis dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In nec lorem sit amet magna mollis interdum. Duis dictum interdum pretium. Donec dapibus feugiat congue. In faucibus erat rutrum lorem ullamcorper facilisis. Suspendisse posuere, velit sit amet vestibulum tincidunt, ipsum turpis ullamcorper dui, quis semper dui quam sed massa. Cras et commodo justo. Donec tempus, ligula in aliquam ultrices, lectus risus ultrices dolor, a tincidunt ex metus ut diam. Sed at libero eleifend, pulvinar neque quis, elementum risus. Suspendisse tortor ex, aliquam quis dapibus ac, faucibus ut libero.</p>
      </div>
    </div>
  </div>
</article>
