<section class="dashboard">
  <div class="container">
    <h2>Dashboard</h2>
    <div class="row">
      <div class="col-sm-3">
        <div class="dashboard-rectangle">
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-blue-font dashboard-rectangle-primary-text">PAGE VIEWS</div>
              <div class="dashboard-rectangle-blue-font dashboard-rectangle-main-info-text">30000</div>
            </div>
            <div class="pull-right">
              <div class="glyphicon glyphicon-globe dashboard-rectangle-glyphicon dashboard-rectangle-globe-glyphicon" aria-hidden="true"></div>
            </div>
          </div>
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-blue-font dashboard-rectangle-secondary-text">DURATION</div>
              <div class="dashboard-rectangle-blue-font">10:21</div>
            </div>
            <div class="pull-right">
              <div class="dashboard-rectangle-blue-font dashboard-rectangle-secondary-text">MOST COUNTRY</div>
              <div class="dashboard-rectangle-blue-font">USA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dashboard-rectangle">
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-green-font dashboard-rectangle-primary-text">VISITS TODAY</div>
              <div class="dashboard-rectangle-green-font dashboard-rectangle-main-info-text">300</div>
            </div>
            <div class="pull-right">
              <div class="glyphicon glyphicon-user dashboard-rectangle-glyphicon dashboard-rectangle-user-glyphicon" aria-hidden="true"></div>
            </div>
          </div>
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-green-font dashboard-rectangle-secondary-text">NEW VISITORS</div>
              <div class="dashboard-rectangle-green-font">50</div>
            </div>
            <div class="pull-right">
              <div class="dashboard-rectangle-green-font dashboard-rectangle-secondary-text">BOUNCE RATE</div>
              <div class="dashboard-rectangle-green-font">2%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dashboard-rectangle">
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-orange-font dashboard-rectangle-primary-text">INCOME THIS MONTH</div>
              <div class="dashboard-rectangle-orange-font dashboard-rectangle-main-info-text">$60,000</div>
            </div>
            <div class="pull-right">
              <div class="glyphicon glyphicon glyphicon-usd dashboard-rectangle-glyphicon dashboard-rectangle-usd-glyphicon" aria-hidden="true"></div>
            </div>
          </div>
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-orange-font dashboard-rectangle-secondary-text">LAST MONTH</div>
              <div class="dashboard-rectangle-orange-font">$50,000</div>
            </div>
            <div class="pull-right">
              <div class="dashboard-rectangle-orange-font dashboard-rectangle-secondary-text">LAST WEEK</div>
              <div class="dashboard-rectangle-orange-font">$20,000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dashboard-rectangle">
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-red-font dashboard-rectangle-primary-text">MOST SALES</div>
              <div class="dashboard-rectangle-red-font dashboard-rectangle-main-info-text">DECEMBER</div>
            </div>
            <div class="pull-right">
              <div class="glyphicon glyphicon glyphicon glyphicon-stats dashboard-rectangle-glyphicon dashboard-rectangle-stats-glyphicon" aria-hidden="true"></div>
            </div>
          </div>
          <div class="clearfix">
            <div class="pull-left">
              <div class="dashboard-rectangle-red-font dashboard-rectangle-secondary-text">LEAST SALES</div>
              <div class="dashboard-rectangle-red-font">APRIL</div>
            </div>
            <div class="pull-right">
              <div class="dashboard-rectangle-red-font dashboard-rectangle-secondary-text">YEAR</div>
              <div class="dashboard-rectangle-red-font">2017</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
