<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <h1 class="header-branding header-highlight">Amit Angular2 Tutorial</h1>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="home" routerLinkActive="navbar-active-link">Home</a></li>
          <li><a routerLink="users" routerLinkActive="navbar-active-link">Users</a></li>
          <li><a routerLink="about" routerLinkActive="navbar-active-link">About</a></li>
          <li><a routerLink="miscellaneous" routerLinkActive="navbar-active-link">Miscellaneous</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>