.jumbotron {
    min-height: 300px;
    background: url('../../../assets/images/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
}

.jumbotron p {
    font-size: 20px;
}

#home-boxes {
    margin-top: 40px;
}