<section id="home-showcase">
  <div class="container">
    <h1>Affordable Professional Web Design</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam libero, congue eu elit eu, ultricies cursus diam. Suspendisse sed purus eget tortor convallis luctus a nec orci.</p>
  </div>
</section>
<section id="home-newsletter">
  <div class="container">
    <h1>Subscribe</h1>
    <form>
      <input type="email" placeholder="Enter Email...">
      <button type="submit" class="">Subscribe</button>
    </form>
  </div>
</section>
<section id="home-boxes">
  <div class="container">
    <div class="box">
      <img [src]="logoImagesPath + 'html5.png'" />
      <h3>HTML5 Markup</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam libero, congue eu elit eu</p>
    </div>
    <div class="box">
      <img [src]="logoImagesPath + 'css3.png'" />
      <h3>CSS3 Styling</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam libero, congue eu elit eu</p>
    </div>
    <div class="box">
      <img [src]="logoImagesPath + 'angular2.png'" />
      <h3>AngularJS 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam libero, congue eu elit eu</p>
    </div>
  </div>
</section>
