<section class="jumbotron">
  <div class="container">
    <h1>AngularJS 2 tutorial - keeping it simple</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam libero, congue eu elit eu, ultricies cursus diam. Suspendisse sed purus eget tortor convallis luctus a nec orci.</p>
  </div>
</section>
<section id="home-boxes">
  <div class="container">
    <div class="row">
      <div class="col-md-4 box">
        <img class="img-responsive" [src]="logoImagesPath + 'html5.png'" />
        <h3>HTML5 Markup</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis feugiat purus. Vestibulum rhoncus non nisi vel vestibulum. Cras et dolor sapien. Integer tempus augue tempor nunc tempor, vitae pellentesque leo elementum. Nunc blandit massa a metus feugiat, nec finibus urna viverra. Nullam gravida, lorem quis varius vulputate, nisl elit imperdiet massa, commodo molestie est arcu non dolor.</p>
      </div>
      <div class="col-md-4 box">
        <img class="img-responsive" [src]="logoImagesPath + 'css3.png'" />
        <h3>CSS3 Styling</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis feugiat purus. Vestibulum rhoncus non nisi vel vestibulum. Cras et dolor sapien. Integer tempus augue tempor nunc tempor, vitae pellentesque leo elementum. Nunc blandit massa a metus feugiat, nec finibus urna viverra. Nullam gravida, lorem quis varius vulputate, nisl elit imperdiet massa, commodo molestie est arcu non dolor.</p>
      </div>
      <div class="col-md-4 box">
        <img class="img-responsive" [src]="logoImagesPath + 'angular2.png'" />
        <h3>AngularJS 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis feugiat purus. Vestibulum rhoncus non nisi vel vestibulum. Cras et dolor sapien. Integer tempus augue tempor nunc tempor, vitae pellentesque leo elementum. Nunc blandit massa a metus feugiat, nec finibus urna viverra. Nullam gravida, lorem quis varius vulputate, nisl elit imperdiet massa, commodo molestie est arcu non dolor.</p>
      </div>
    </div>
  </div>
</section>
