/* You can add global styles to this file, and also import other style files */
body {
    background-color: #EFEFEF !important;
}

article {
    margin: 20px 0;
}

.float-left {
    float: left;
}

.modal-backdrop {
    /* https://weblog.west-wind.com/posts/2016/Sep/14/Bootstrap-Modal-Dialog-showing-under-Modal-Background */
    /* display: none; also works but it removes the black overlay */
    z-index: 999 !important; /* this works */
}

.clearfix {
    overflow: hidden;
}
.white-font {
    color: #ffffff;
}
