<div class="authentication-login-container">
  <div *ngIf=!isUserLoggedIn() class="authentication-login-button">
    <!--<button (click)="login()" type="button" class="btn btn-secondary">Log In</button>-->
    <button class="btn btn-primary" (click)="showLoginModal()">LOGIN</button>
    <div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">LOGIN</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
              <div style="margin:5px 0 20px 0;">
                Since this is a demo site for learning Angular2, I have not implemented real login using database.
                Select a role and click login button. A local storage user object will be created.
              </div>
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" name="firstName" ngModel>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" name="lastName" ngModel>
              </div>
              <div class="form-group radio">
                <label><input type="radio" name="userRole" value="admin" ngModel>Admin</label>
              </div>
              <div class="form-group radio">
                <label><input type="radio" name="userRole" value="authenticated" ngModel>Authenticated User</label>
              </div>
              <div>
                <button type="submit" class="btn btn-success">LOGIN</button>
                <button type="button" class="btn btn-danger" (click)="hideLoginModal()">CANCEL</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf=isUserLoggedIn() class="authentication-login-circle">
    <span class="authentication-login-circle-text">A</span>
  </div>
</div>